html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}

.bunner {
  background-image: url(/photo/bunner.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.main-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  color: white;
  transition: all 400ms ease;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
  transition: all 400ms ease;
}
.header a:hover {
  color: lightblue;
}
#t {
  color: white;
  transition: all 300ms ease;
}
#t:hover {
  transition: all 300ms ease;
  color: lightblue;
}
.best {
  background-image: url(/photo/second-bunner.jpg);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 30px
  ;
}
#desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  color: lightseagreen;
  font-weight: 800;
  transition: all 400ms ease;
}
.btn2 {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: orangered;
  color: white;
  font-weight: 800;
  transition: all 400ms ease;
  margin-top: 250px;
  border: none;
}
.btn2:hover {
  transform: scale(1.5);
  border-radius: 15px;
  background-color: orange;
  color: white;
  font-weight: 800;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: lightseagreen;
  color: white;
}
.button-box {
}
#tir {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.tir-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.join {
  background-image: url(/photo/bunner3.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.qr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jt {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .personne {
    display: flex;
    align-items: end;
    width: 15%;
    height: 15%;
}
.pr {
    width: 15%;
    height: 15%;

    margin-bottom: 300px;
} */


.quis-section {
    background-image: url(/photo/bunner4.jpg);
    width: 100%;
    height: 90vh;
}
.quis-section h2 {
    color: white;
}
.join3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#p2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.b:hover {
    transform: scale(1.2);
}
.j:hover {
    transform: scale(1.2);
}
.v:hover {
    transform: scale(1.2);
}
.weapons {
  display: flex;
  gap: 10px;
  overflow: auto;
  padding: 10px;
  width: 482px;
}
.weapon {
  width: 68px;
  height: 68px;
  object-fit: contain;
}
.tir-list2 {
  background-color: #12181C;  
}
.table {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
  width: 500px;

}
.table-block {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
}
.title {
  background-color: #eee;
  color: #12181C;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
}
.table-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-s {
 background-color: #FF7F7E;
}
.title-a {
   background-color: #FFBE80;
}
.title-b {
  background-color:#FFDF80 ;
}
.title-c {
  background-color:#FFFE80 ;
}
.title-d {
  background-color:#AAFF80 ;
}
@media (max-width: 756px) {
  .main-container {
    width: 100%;
  }
  .tir-list {
    padding: 0 16px;
  }
  .header {
    gap: 35px;
  }
  .header a {
    font-size: 20px;
  }
  .bunner {
    background-image: url(/photo/bunner1-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .btn {
    height: 50px;
    width: 75px;
  }

  #tir {
    width: 100%;
  }
  .desc {
    font-weight: 100;
    font-size: small;
  }
  .table {
    width: 100%;
  }
  .table-block {
    width: 100%;

  }
  .tir-list2 {
    display: none;
  }
}